<div class="container"><h1 align="center">To Do's List</h1>
<app-add-todo (todoAdd)="addTodo($event)"></app-add-todo>
<h4><div class="alert alert-primary" role="alert">
    Your Todos! 
  </div></h4>
<div *ngIf="this.todos.length===0; else elseBlock"><h5 class="mx-3">No Todos to display!!</h5></div>
<ng-template #elseBlock>
<div *ngFor="let todo of todos; index as i">
    <app-todo-item [todo]="todo" [i]="i" (todoDelete)="deleteTodo($event)" (checkbox)="toggleTodo($event)"></app-todo-item>
</div>

</ng-template>
</div>